.cart {
    margin-top: 100px;
}
.container-cart {
    width: 1300px;
    margin: 0 auto;
}


.container-cart .back {
    color: black;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}
.row-cart {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.row-cart .col-name {
    width: 33%;
    color: dimgrey;    
    border: 1px solid black;
    text-align: center;


}
.col-cart {
    width: 70%;
}
.cart-heading {
    background: black;
    padding: 10px;
}
.summary-col {
    width: 30%;
}
.verticalAlign {
    align-items: center;
    margin-top: 10px;
    display: flex;
    background: black;
    color: white;
}
.cart-image {
    width: 16%;
}
.cart-image img {
    width: 100px;
}
.cart-name {
    width: 20%;
    color: white;
    
}



.cart-price {
    width: 10%;
    font-weight: bold;
}
.cart-incDec {
    width: 20%;
    margin-left: 40px;
}
.cart-total {
    width: 15%;
    color: white;
}
.summary {
    padding-left: 10px;
}
.summary-heading{
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
.summary-details {
    background: #f4f6f8;
    color: #000;
    padding: 15px;
}
.total-item {
    margin-bottom: 10px;
    display: flex;
}
.total-item p {
    padding-right: 50%;
    color: #000;
}
.total-price {
    display: flex;
    margin-top: 10px;
}
.total-price p {
    padding-right: 46%;
    color: #000;
} 
.checkout
{
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    width: 100%;
    padding: 12px 5px;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 25px;
    background: black;
}
.cart-remove {
    cursor: pointer;
}
.cart-remove p{
    color: #ff523b;
    font-size: 14px;
}
.metode {
    margin-left: 85px;
    margin-top: 25px;
}
.metode p{
    color: #000;
    padding: 5px;
}
.metode img {
    width: 70px;
}
.font {
    color: #000;
}