* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p {
    color: #555;
}
.container {
    max-width: 1400px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.logo img{
    width: 125px;
}
.img_cart img{
    width: 30px;
    height: 30px;
}
.header {
    background: radial-gradient(#fff,#ffd6d6);
}
.img_cart p {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: #fff;
    background:  #ff523b;
    font-size: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
    left: 20px;
 }

 .user {
    float: right;
    width: 76px;
    position: relative;
    right: 72px;
    bottom: 65px
}
 

 .user a {
     color: #555;
     
 }
.user .out {
    color: rgb(241, 74, 74);
   
}
.user .nama {
    color: #000;
}

.user i {
    padding-right: 5px;
    float: left;
}

